section.float-left.side-left.d-none.d-sm-none.d-md-block.d-lg-block
    .account-box.mt-4.ml-4.rounded-lg
        .account-box_top.row.ml-2.mb-2
            i.fas.fa-user-circle.float-left.mt-2.mr-2
            img.float.left.mt-2.mr-2(src="/images/001-man.png" style="width:75px; display:none")
            .float-left
                h4.col#bankAccountName #{session.bankAccountName}
                p.text-muted.ml-3#bankAccountID ID #{session.bankAccountIndex}
        p.text-muted.float-left.ml-3.balance Balance:
        p.float-right.mr-3.figure(style='color:white;font-weight: 800') £#{session.bankCurrentBalance}
    .titles.ml-4
        .titles-group.active.rounded-lg
            i.fas.fa-donate.ml-2.mr-2
            span.titles-group_text
                a(href="savingspot") Savings pot
        .titles-group.rounded-lg
            i.fas.fa-money-check.ml-2.mr-2
            span.titles-group_text
                a(href="myWallet") My Wallet
    .account-box_last.mt-4.ml-5.rounded-lg
        .account-box_top.row.ml-2.mb-2
            i.fas.fa-user.float-left.mt-3.mr-2
            .float-left
                h6.col.mt-2 #{session.firstName.charAt(0).toUpperCase()+session.firstName.slice(1)} #{session.lastName.charAt(0).toUpperCase()+session.lastName.slice(1)}
                p.text-muted.ml-3.userID ID: #{session.customerID}