extends layout
html
    head
        title= Login
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(type='text/javascript' src='public/javascripts/jquery-min.js')

    body
        input(
            type='text'
            size=40
            id='email'
            placeholder='Type your email...'
        )

        input(
            type='password'
            size=40
            id='password'
            placeholder='Type your password...'
        )

        input(
            type='button'
            value='submit'
            id='submit'
        )
        script.
            $(document).ready(function () {
                var email, pass;
                $("#submit").click(function () {
                    email = $("#email").val();
                    pass = $("#password").val();
                    /*
                    * Perform some validation here.
                    */
                    $.post("/login", {email: email, pass: pass}, function (data) {
                        if (data === 'done') {
                            window.location.href = "/admin";
                        }
                    });
                });
            });